.layout__header {
  width: 100vw;
  height: 30vh;
  background-image:  linear-gradient(rgba(20, 20, 46, 0.5), rgba(10, 10, 9, 0.9)), url(../../assets/img/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.main__title h1 {
  font-size: 3rem;
  color: aliceblue;
}

.main__subtitle p {
  font-size: 2rem;
  color: aliceblue;
}